<h2> <%= @registered_application.name %></h2>
<p> <%= @registered_application.url %> </p>

<p> Events: <%= @event_count %> </p>
<% @events.sort.each do |key, value| %>
  <p> <%= key %> <p>
<% end %>

<!-- <p> <%= @registered_application.user.name %></p>
 -->

<%= pie_chart @registered_application.events.group(:name).count %>

<%= line_chart @registered_application.events.group_by_day(:created_at).count %>