<h2> <%= @registered_app.name %></h2>
<p> <%= @registered_app.url %> </p>

<p> Events: <%= @event_count %> </p>
<% @events.sort.each do |key, value| %>
<p> <%= key %> <p>

<% end %>


<!-- <p> <%= @registered_app.user.name %></p>
 -->